{% extends "page.html" %}
{% import "macros.html" as macros %}

{% block title -%}
{{ macros::eip_number(page=page) }}: {{ page.title }} | {{ config.title -}}
{% endblock title %}


{% block extra_head %}
<meta property="og:type" content="article" />
<meta name="citation_series_title" content="{{ config.title }}" />

{% if page.title %}
<meta property="og:title" content="{{ macros::eip_number(page=page) }}: {{ page.title }} | {{ config.title }}" />
<meta property="citation_title" content="{{ macros::eip_number(page=page) }}: {{ page.title }}" />
{% endif %}
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="description" content="{{ page.description }}" />
{% endif %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="citation_publication_date" content="{{ page.date | date(format="%Y/%m/%d") }}" />
{% endif %}
{% if page.updated %}
<meta property="article:modified_time" content="{{ page.updated }}" />
<meta property="citation_date" content="{{ page.updated | date(format="%Y/%m/%d") }}" />
{% endif %}
{% if page.extra.author_details %}
{% for author in page.extra.author_details %}
<meta property="citation_author" content="{{ author.name }}" />
{% if author.github %}
<meta
	property="article:author"
	content="https://github.com/{{ author.github }}"
/>
{% elif author.email %}
{# TODO: Verify that mailto links don't break anything. #}
<meta property="article:author" content="mailto:{{ author.email }}" />
<meta property="citation_author_email" content="{{ author.email }}" />
{% endif %}
{% endfor %}
{% endif %}

{% if page.extra.number %}
<meta property="citation_technical_report_number" content="{{ page.extra.number }}" />
{% endif %}

{# TODO: <meta property="citation_reference" content="..."> #}

<script type="application/ld+json">
	{
		{#
			schema.org has `TechArticle`, which lists "specification" as an example.
			`TechArticle` is a sub-type of `Article`, and `Article` is supported
			by Google, so this makes sense I think.
		#}

		"@type": "Article",
		"url": "{{ current_url | safe }}",
		"name": "{{ page.title }}",
		"headline": "{{ page.title }}",
		"description": "{{ page.description }}",
	{% if page.date %}
		"dateCreated": "{{ page.date }}",
	{% endif %}
	{% if page.extra.number %}
		"position": {{ page.extra.number }},
	{% endif %}
	{% if page.updated %}
		"dateModified": "{{ page.updated }}",
	{% endif %}
	{% if page.extra.status %}
		{% if page.extra.status == "Withdrawn" %}
		"creativeWorkStatus": "Obsolete",
		{% elif page.extra.status == "Final" %}
		"creativeWorkStatus": "Published",
		{% else %}
		"creativeWorkStatus": "Draft",
		{% endif %}
	{% endif %}
	{% if page.extra.author_details %}
		"author": [
	{% for author in page.extra.author_details %}
			{
				"@type": "Person",
				"name": "{{ author.name }}"
	{%- if author.github -%}
				,
				"url": "https://github.com/{{ author.github }}"
	{%- endif -%}
	{%- if author.email -%}
				,
				"email": "{{ author.email }}"
	{% endif %}
			}
	{%- if not loop.last -%}
			,
	{%- endif %}
	{% endfor %}
		],
	{% endif %}
	{% if page.extra.discussions_to %}
		"discussionUrl": "{{ page.extra.discussions_to | safe }}",
	{% endif %}
	    "license": "#copyright",
	{% if page.date %}
	    "copyrightYear": "{{ page.date | date(format="%Y") }}",
	{% endif %}
		"@context": "https://schema.org"
	}
</script>
{% endblock extra_head %}
{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
	<symbol id="bi-megaphone-fill" fill="currentColor" viewBox="0 0 16 16">
		<title>Alert</title>
		<path
			d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-11zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56V3.224zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z"
		/>
	</symbol>
	<symbol id="bi-code" fill="currentColor" viewBox="0 0 16 16">
		<title>Source</title>
		<path
			d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"
		/>
	</symbol>
	<svg id="bi-chat" fill="currentColor" viewBox="0 0 16 16">
		<title>Discuss</title>
		<path
			d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"
		/>
	</svg>
</svg>

<article class="home">
	<header>
		<hgroup>
			<p class="h5">
				{# Sort the taxonomies so they appear in a consistent order. #}
				{% set_global taxonomies = [] %}
				{% for taxonomy, terms in page.taxonomies %}
				{% set_global taxonomies = taxonomies | concat(with=taxonomy) %}
				{% endfor %}
				{% for taxonomy in taxonomies | sort %}
				{% set terms = page.taxonomies[taxonomy] %}
				{% set taxonomy_slug = taxonomy | slugify %}
				{% for term in terms | sort %}
				{% set term_slug = term | slugify %}
				<span
					class="badge text-light tax-label-{{ taxonomy_slug }} tax-term-{{ term_slug }}"
					{% if config.extra.taxonomies and config.extra.taxonomies[taxonomy_slug][term_slug] %}
					data-bs-toggle="tooltip"
					data-bs-title="{{ config.extra.taxonomies[taxonomy_slug][term_slug].tooltip }}"
					{% endif %}>
					{{- term -}}
				</span>
				{% endfor %}
				{% endfor %}
			</p>
			<h1 class="page-heading">
				{{ macros::eip_number(page=page) }}: {{ page.title }}
				{% if page.extra.discussions_to %}
				<a rel="noopener" href="{{ page.extra.discussions_to }}" class="no-underline">
					<svg
						role="img"
						aria-label="Discuss"
						class="inline-svg"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 16 16"
					>
						<use xlink:href="#bi-chat" />
					</svg>
				</a>
				{% endif %}
				{% if config.extra.github.eip_repository %}
				{% set_global repo_url = config.extra.github.eip_repository %}
				{% if page.extra.category and page.extra.category == "ERC" and config.extra.github.erc_repository %}
				{% set_global repo_url = config.extra.github.erc_repository %}
				{% else %}
				{% endif %}

				<a
					href="{{ repo_url }}/blob/master/content/{{ page.relative_path }}"
					class="no-underline"
				>
					<svg
						role="img"
						aria-label="Source"
						class="inline-svg"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 16 16"
					>
						<use xlink:href="#bi-code" />
					</svg>
				</a>
				{% endif %}
			</h1>
			<p role="doc-subtitle">{{ page.description }}</p>
		</hgroup>
		<table class="table table-borderless preamble">
			<tbody>
				<tr>
					<th scope="row">Authors</th>
					<td>{% include "includes/authorlist.html" %}</td>
				</tr>
				{% if page.date %}
				<tr>
					<th scope="row">Created</th>
					<td>{{ page.date }}</td>
				</tr>
				{% endif %} {% if page.extra.last_call_deadline %}
				<tr>
					<th scope="row">Last Call Deadline</th>
					<td>{{ page.extra.last_call_deadline }}</td>
				</tr>
				{% endif %} {% if page.extra.discussions_to %}
				<tr>
					<th scope="row">Discussion Link</th>
					<td>
						<a rel="noopener" href="{{ page.extra.discussions_to }}" target="_blank"
							>{{ page.extra.discussions_to }}</a
						>
					</td>
				</tr>
				{% endif %} {% if page.extra.requires %}
				<tr>
					<th scope="row">Requires</th>
					<td>
						{% for required in page.extra.requires -%}
						{% if required is starting_with("http") %}
						{% set required_segment = required | split(pat="/") | last %}
						{% set required_label = required_segment | replace(from="eip-", to="EIP-") | replace(from="erc-", to="ERC-") %}
						<a href="{{ required | safe }}">{{ required_label }}</a>
						{% else %}
						{% set path = required | trim_start_matches(pat="@/") %}
						{% set page = get_page(path=path) %}
						<a href="{{ get_url(path=required) }}" title="{{ page.title }}">
						{{ macros::eip_number(page=page) }}
						</a>
						{% endif %}
						{%- if not loop.last %}, {% endif -%}
						{%- endfor %}
					</td>
				</tr>
				{% endif %}
				{% if page.extra.withdrawal_reason %}
				<tr>
					<th scope="row">Withdrawal Reason</th>
					<td>{{ page.extra.withdrawal_reason }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
		<br />

		{% if page.extra.status == "Review" or page.extra.status == "Last Call" %}
		<div class="alert alert-primary d-flex align-items-center" role="alert">
			<svg
				class="bi flex-shrink-0 me-2"
				role="img"
				aria-label="Info:"
				style="width: 2.5em; height: 2.5em"
			>
				<use xlink:href="#bi-megaphone-fill" />
			</svg>
			<div class="text-center w-100">
				<a rel="noopener" href="{{ page.extra.discussions_to }}" target="_blank"
					>This EIP is in the process of being peer-reviewed. If you are
					interested in this EIP, please participate using this discussion
					link.</a
				>
			</div>
		</div>
		{% endif %}
	</header>

	<nav class="toc">
		<h2>Table of Contents</h2>
		{% if page.toc %}
		<ul>
			{% for h1 in page.toc %}
			<li>
				<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
				{% if h1.children %}
				<ul>
					{% for h2 in h1.children %}
					<li>
						<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</nav>

	{{ page.content | safe }}
	<h2>Citation</h2>
	<p>Please cite this document as:</p>
	{# IEEE specification for reference formatting:
	https://ieee-dataport.org/sites/default/files/analysis/27/IEEE%20Citation%20Guidelines.pdf
	#}
	<div>
		{%- for author in page.authors -%} {{- author -}} {% if not loop.last
		-%}, {% endif -%} {%- endfor -%}, "{{ page.title }},"
		<em>Ethereum Improvement Proposals</em>, no. {{ page.extra.number }}{%
		if page.draft %}, early access{% endif %}{% if page.date %}, {{
		page.date | date(format="%B %Y") }}{% endif %}. [Online serial].
		Available: {{ current_url }}.
	</div>
</article>
{% endblock content %}
